telethon==1.36.0
python-dotenv==1.0.1

pandas==2.2.2

psycopg2-binary==2.9.9
sqlalchemy==2.0.30

dbt-core==1.8.0
dbt-postgres==1.8.0

ultralytics==8.2.0
opencv-python-headless==4.9.0.80

fastapi==0.111.0
uvicorn[standard]==0.30.0
pydantic==2.7.1

dagster==1.7.9
dagster-webserver==1.7.9

pytest==8.2.0
